export SPLIT=test
export CONFIG_FILE=/home/michael/Repositories/lab/iGibson/igibson/examples/configs/behavior_segmentation_replay.yaml
export PHASE=minival
export OUTPUT_DIR=/home/michael/Repositories/lab/BehaviorChallenge2021/out
